
@font-face {
    font-family: font;
    src: url(./resources/font.ttf);
}

html , body {
    height: 100%;
    background-color: pink;
}
a { color: inherit; } 
.banner {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 64px;
    background-color: lightgreen;
    overflow: hidden;
}
.banner h1 {
    font-family: font;
    float: left;
    /* margin-left: calc(60px); */
    font-size: 400%;
    /* transform: scale(1.5); */
    /* position: fixed; */
    top: -5px;
    left: 0px;
    margin-top: -4px;
    margin-left: 5px;
    right: 0px;
}
.container {
    /* margin-left: 20%; */
    margin-top: 89px;
}
.post {
    background-color: lightgreen;
    margin: 25px 50px 25px 50px;
}
.container h2 {
text-align: center
}

